@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

html { 
    background: #F8F8F8;
}


body{
    padding: 0;
    margin: 0;
    
}
nav{
    margin: 0;
    background: #ECECEC;
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    display:inline;
    padding: 0;
    margin: 0;
}

nav{
    padding: 0;
    margin: 0;
    text-align: left;
}


[data-tab-content] {
    display: none;
}
  
.active[data-tab-content] {
    display: block;
}

.tab{
    margin: 0 ;
    border-radius: 0px 35px 0px 0px;
    background-color: #76B7DD;
    padding: 10px 30px;
    border: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    outline: none;
}


.tab {
    cursor: pointer;
}
.tab:hover{
    cursor: pointer;
    background: #9AC4DB;
}
.tab.active{
    background: #F8F8F8;
    color: #76B7DD;
}

















.btnregBook{
    margin: 40px;
    padding: 20px;
    border-radius: 12px;
    background-color: #76B7DD;
    padding: 10px 30px;
    border: 0;
    color: #fff;
    font-size: 22px;
    outline: none;
}
.btnregBook:hover{
    cursor: pointer;
    background-color: rgb(41, 99, 133);
}



.bookingInfo{
    border: 3px solid #76B7DD;
}


.bookingReg{
    border-bottom: 3px solid #76B7DD;
}


#home{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.table1{
    border: 4px solid #76B7DD;
}

.table3{
    border-top: 4px solid #76B7DD;
}



#home th {
  width: 400px;
  height: 65px;
  overflow: hidden;
}


input[type=text]{
    margin-right: 50px;
}

.table1{
    font-size: 27px;
}

.table2{
    font-size: 27px;
}

.table3{
    font-size: 27px;
}



.table1 tr th label{
    margin-left: 20px;
}

.table2 tr th label{
    margin-left: 20px;
}
.table3 tr th label{
    margin-left: 20px;
}


.table1 tr th input{
    font-size: 27px;
}

.table2 tr th input{
    font-size: 27px;
}

.table3 tr th input{
    font-size: 27px;
}

.cc1 {
    margin-right:190px; 
}

.cc2{
    margin-right:166px;
}

















footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-family: Asap, sans-serif;
    width: 100%;
    background-color:#76B7DD;
    color: white;
    text-align: center;
}   

