@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

html { 
    background: #F8F8F8;
}


body{
    padding: 0;
    margin: 0;
    
}
nav{
    margin: 0;
    background: #ECECEC;
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    display:inline;
    padding: 0;
    margin: 0;
}

nav{
    padding: 0;
    margin: 0;
    text-align: left;
}


[data-tab-content] {
    display: none;
}
  
.active[data-tab-content] {
    display: block;
}

.tab{
    margin: 0 ;
    border-radius: 0px 35px 0px 0px;
    background-color: #76B7DD;
    padding: 10px 30px;
    border: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    outline: none;
}


.tab {
    cursor: pointer;
}
.tab:hover{
    cursor: pointer;
    background: #9AC4DB;
}
.tab.active{
    background: #F8F8F8;
    color: #76B7DD;
}






/*--------------HOME TAB1-----------------------------*/














.bookingInfo{
    border: 3px solid #76B7DD;
}


.bookingReg{
    border-bottom: 3px solid #76B7DD;
}

#home table{
    
    margin-left: auto;
    margin-right: auto;
   
}

#home h1{
    color: #767777;
    margin: 10px 0px 20px 20px;
    font-size: 45px;
}

#home{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.table1{
    border: 4px solid #76B7DD;
}

.table3{
    border-top: 4px solid #76B7DD;
}



#home th {
  width: 400px;
  height: 65px;
  overflow: hidden;
}




.table1{
    font-size: 27px;
}

.table2{
    font-size: 27px;
}

.table3{
    font-size: 27px;
}



.table1 tr th label{
    margin-left: 20px;
}

.table2 tr th label{
    margin-left: 20px;
}
.table3 tr th label{
    margin-left: 20px;
}









/*------------------input-----------------*/

#home input,select{
    background: transparent;
    border: none;
    border-bottom: 3px solid #76B7DD;
}

#home input[type=number]{
    margin-right: 50px;
    font-size: 27px;
    width: 337px;
}

#home input[type=text]{
    margin-right: 50px;
    width: 337px;
}

#home input[type=date]{
    
    margin-right: 55px;
    font-size: 27px;
    width: 337px;
}

.table1 tr th input{
    font-size: 27px;
}

.table2 tr th input{
    font-size: 27px;
}

.table3 tr th input{
    font-size: 27px;
}


#home input,select,button {
    outline: none;
}



/*----------checkbox-----------*/



#cc1 {
    margin-right:190px; 
}

#cc2{
    margin-right:166px;
}



/*---------selcet---------------------*/
.table2 tr th select {
    margin-right: 50px;
    font-size: 25px;
    width: 337px;
}


#home button{
    text-align: center;
}

.btnregBook{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right:  auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #76B7DD;
    padding: 10px 30px;
    border: 0;
    color: #fff;
    font-size: 22px;
    outline: none;
}
.btnregBook:hover{
    cursor: pointer;
    background-color: rgb(41, 99, 133);
}
/*--------------END HOME TAB1-----------------------------*/


/*--------------Pricing TAB2-----------------------------*/

#pricing h1{
    color: #767777;
    margin: 10px 0px 20px 20px;
    font-size: 45px;
}

#pricing table{
    background: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#pricing table tr th{
    width: 50px;
}


.CostumersDB thead tr th{
    background: #EEEEEE;
    text-align: left;
}

.CostumersDB tbody tr th{
    background: #D9D9D9;
    text-align: left;
}

/*---------------input-----------------*/
#pricing input{
    background: transparent;
    border: none;
    border-bottom: 3px solid #76B7DD;
    width: 600px;
    text-align: center;
}
.CostumerSearch{
    margin-top: 70px; 
    text-align: center;
}

.CostumerSearch label{
    font-size: 25px;
    color:#7D7E7E;
    font-weight: 700;
}

.CostumerSearch input{
    font-size: 25px;
    margin-top: 30px; 
    outline: none;
}



/*--------------END Pricing TAB2-----------------------------*/



#about h1{
    color: #767777;
    margin: 10px 0px 20px 20px;
    font-size: 45px;
}

#about table{
    background: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#about table tr th{
    width: 50px;
}


.CostumersDB thead tr th{
    background: #EEEEEE;
    text-align: left;
}

.CostumersDB tbody tr th{
    background: #D9D9D9;
    text-align: left;
}

/*------------------------------------------*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-family: Asap, sans-serif;
    width: 100%;
    background-color:#76B7DD;
    color: white;
    text-align: center;
}   

