.Wrap_Edit_Costumer {
  margin: 0;
  z-index: 10;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.Edit_Costumer {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 10%;
  left: 10%;
  right: 1%;
}

.Edit_Costumer h1 {
  color: #767777;
  margin: 30px 0px 20px 20px;
  font-size: 45px;
}

.Edit_Costumer .container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Edit_Costumer .table_Costumer {
  width: 1100px;
}
.Edit_Costumer .table_Costumer .table1_tc {
  text-align: left;
  padding-left: 80px;
}

.Edit_Costumer .table_Costumer tr th {
  padding-top: 25px;
  font-size: 30px;
}
.Edit_Costumer .table_Costumer input,
.Edit_Costumer .filo {
  font-size: 20px;
  width: 210px;
  text-align: left;
  background: transparent;
  padding-left: 5px;
  border: none;
  border-bottom: 3px solid #76b7dd;
}

.Edit_Costumer .btnAddEmploye {
  display: block;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #76b7dd;
  padding: 20px 40px;
  border: 0;
  color: #fff;
  font-size: 22px;
  outline: none;
}

.Edit_Costumer .btnAddEmploye:hover {
  cursor: pointer;
  background-color: rgb(41, 99, 133);
}

.Edit_Costumer input:focus {
  outline: none;
}
