.DBReservations_container {
  width: 100%;
  cursor: pointer;
}

.DBReservations_container h1 {
  color: #767777;
  margin: 10px 0px 20px 20px;
  font-size: 45px;
  cursor: default;
}

.table_DBReservations {
  table-layout: auto !important;
  width: 90%;
}

.SearchReserverion {
  text-align: center;
  position: fixed;
  left: 50px;
  right: 50px;
  bottom: 12%;
}

.SearchReserverion label {
  font-size: 25px;
  color: #7d7e7e;
  font-weight: 700;
}

.SearchReserverion input {
  background: transparent;
  border: none;
  border-bottom: 3px solid #76b7dd;
  width: 600px;
  margin-top: 10px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  outline: none;
}

.DBReservations_container .wrap_table {
  width: auto;
  margin-top: 0;
  padding-top: 0;
  height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
  margin-top: 25px;
}
.DBReservations_container .table_DBReservations {
  width: 100%;
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.2em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em 1em 0 0;
  font-family: Bradley Hand, cursive;
  table-layout: fixed;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.DBReservations_container .table_DBReservations thead {
  border-radius: 6px 6px 6px 6px;
}

.DBReservations_container .table_DBReservations thead tr {
  background: #76b7dd;
  color: white;
  text-align: left;
  font-weight: bold;
}

.DBReservations_container .table_DBReservations th,
.DBReservations_container .table_DBReservations td {
  padding: 12px 15px;
  text-align: left;
}

.DBReservations_container .table_DBReservations tbody tr {
  border-bottom: 1px solid #76b7dd;
  cursor: pointer;
}

.DBReservations_container .table_DBReservations tbody tr.active_row {
  font-weight: bold;
  color: #76b7dd;
}
.DBReservations_container .table_DBReservations tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.DBReservations_container ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.DBReservations_container ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.DBReservations_container ::-webkit-scrollbar-thumb {
  background: #76b7dd;
}

/* Handle on hover */
.DBReservations_container ::-webkit-scrollbar-thumb:hover {
  background: #5789a7;
}
