.ReceptionRe_container h1 {
  color: #767777;
  margin: 10px 0px 20px 20px;
  font-size: 45px;
  cursor: default;
}

.btnregBook {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #76b7dd;
  padding: 20px 35px;
  border: 0;
  color: #fff;
  font-size: 22px;
  outline: none;
}
.ReceptionRe_container .btnregBook:hover {
  cursor: pointer;
  background-color: rgb(41, 99, 133);
}

.ReceptionRe_container table {
  margin-left: auto;
  margin-right: auto;
}

.ReceptionRe_container th {
  width: 400px;
  height: 65px;
  overflow: hidden;
}

.ReceptionRe_container input,
select {
  background: transparent;
  border: none;
  border-bottom: 3px solid #76b7dd;
}

.ReceptionRe_container input[type="number"] {
  margin-right: 50px;
  font-size: 27px;
  width: 337px;
}

.ReceptionRe_container input[type="text"] {
  margin-right: 20px;
  width: 337px;
}

.ReceptionRe_container input[type="date"] {
  margin-right: 55px;
  font-size: 27px;
  width: 337px;
}

.ReceptionRe_container input,
select,
button {
  outline: none;
}

/*------------------table 1-----------------*/

.table_reception_info {
  border: 4px solid #76b7dd;
  font-size: 27px;
}

.table_cost_info {
  border-top: 4px solid #76b7dd;
  font-size: 27px;
}

.table_reservation_info {
  font-size: 27px;
}

.table_reception_info tr th label {
  margin-left: 20px;
}

.table_reservation_info tr th label {
  margin-left: 20px;
}
.table_cost_info tr th label {
  margin-left: 20px;
}

.table_reception_info tr th input {
  font-size: 27px;
}

.table_reservation_info tr th input {
  font-size: 27px;
}

.table_cost_info tr th input {
  font-size: 27px;
}

#cc1 {
  margin-right: 190px;
}

#cc2 {
  margin-right: 166px;
}

.table_reservation_info tr th select {
  margin-right: 50px;
  font-size: 25px;
  width: 337px;
}
.wrap_room {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.Search_room {
  outline: none;
  border: none;
  zoom: 80%;
  background: url(../SVG/search_icon.svg) no-repeat;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.Search_room:hover {
  background-color: rgba(118, 183, 221, 0.4);
  border-radius: 10px;
}
