.Rec_container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background: url("../Images/rec.jpg") no-repeat center center fixed;
  background-size: cover;
}
.Rec_container h1 {
  font-family: Bradley Hand, cursive;
  margin: 0;
  text-decoration: none;
  font-size: 60px;
  background-color: #76b7dd;
  color: white;
  cursor: default;
}

.Rec_container h3 {
  color: rgb(94, 71, 71);
  font-size: 50px;
  font-weight: bold;
  font-family: Asap, sans-serif;
}

.Rec_container .header_con {
  background-color: #76b7dd;
  color: #fff;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.Rec_container .container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  color: #76b7dd;
}

.Rec_container .btnLogin {
  margin: 50px 0px;
  border-radius: 17px;
  background-color: #76b7dd;
  padding: 17px 35px;
  border: 0;
  color: #fff;
  font-size: 22px;
  outline: none;
}

.Rec_container .container input {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 3px solid #76b7dd;
  outline: none;
  color: black;
  font-size: 20px;
}

.Rec_container .container input:focus {
  border-color: #76b7dd;
}

.Rec_container .btnLogin:hover {
  cursor: pointer;
  background-color: rgb(41, 99, 133);
}

.Rec_container .container {
  display: block;
  width: 900px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 100px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.Rec_container .wrap {
  margin-top: 50px;
}
