@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

html {
  background: #f8f8f8;
}

body {
  padding: 0;
  margin: 0;
}
nav {
  margin: 0;
  background: #ececec;
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

nav {
  padding: 0;
  margin: 0;
  text-align: left;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab {
  margin: 0;
  border-radius: 0px 35px 0px 0px;
  background-color: #76b7dd;
  padding: 10px 30px;
  border: 0;
  color: #fff;
  font-size: 22px;
  text-align: center;
  outline: none;
}

.tab {
  cursor: pointer;
}
.tab:hover {
  cursor: pointer;
  background: #9ac4db;
}
.tab.active {
  background: #f8f8f8;
  color: #76b7dd;
}

/*---------------------------Tab Reception----------------------------------*/

/*button*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  font-family: Asap, sans-serif;
  width: 100%;
  background-color: #76b7dd;
  color: white;
  text-align: center;
}
