.AdminPage_container {
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.AdminPage_container nav {
  margin: 0;
  background: #ececec;
  width: 100%;
}
.AdminPage_container ul {
  padding: 0;
  margin: 0;
}
.AdminPage_container ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.AdminPage_container nav {
  padding: 0;
  margin: 0;
  text-align: left;
}

.AdminPage_container .tabs .tab {
  margin: 0;
  border-radius: 0px 35px 0px 0px;
  background-color: #76b7dd;
  padding: 10px 30px;
  border: 0;
  color: #fff;
  font-size: 22px;
  text-align: center;
  outline: none;
}

.AdminPage_container .tabs .tab {
  cursor: pointer;
}
.AdminPage_container .tabs .tab:hover {
  cursor: pointer;
  background: #9ac4db;
}

.AdminPage_container .tabs .tab.tab.active:hover {
  cursor: pointer;
  background: #9ac4db;
  color: #fff;
}
.AdminPage_container .tabs .tab.active {
  background: #fff;
  color: #76b7dd;
}

.AdminPage_container .Views .tab {
  display: none;
}

.AdminPage_container .Views .tab.active {
  display: block;
}
