.TabRegisterEmplo {
  cursor: default;
}

.TabRegisterEmplo h1 {
  color: #767777;
  margin: 10px 0px 20px 20px;
  font-size: 45px;
  cursor: default;
}

.TabRegisterEmplo .table1 {
  width: 70%;
  float: left;
}

.TabRegisterEmplo .table1 tr th,
.TabRegisterEmplo .table2 tr th {
  padding-top: 25px;
  padding-left: 20px;
  font-size: 30px;
}

.TabRegisterEmplo .table1 .table2 {
  width: 30%;
  float: right;
}

.TabRegisterEmplo .table1 input,
.TabRegisterEmplo .filo,
.TabRegisterEmplo .table2 input[type="text"],
.TabRegisterEmplo .table2 input[type="password"] {
  font-size: 20px;
  width: 200px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 3px solid #76b7dd;
}

.TabRegisterEmplo .table1 label {
  margin-left: 50px;
}

.TabRegisterEmplo .table2 {
  padding-left: 7%;
}

.TabRegisterEmplo .btnAddEmploye {
  display: block;
  margin-top: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #76b7dd;
  padding: 20px 40px;
  border: 0;
  color: #fff;
  font-size: 22px;
  outline: none;
}

.TabRegisterEmplo .btnAddEmploye:hover {
  cursor: pointer;
  background-color: rgb(41, 99, 133);
}

.TabRegisterEmplo .container {
  padding-top: 4%;
}

.TabRegisterEmplo .TabRegisterEmplo input:focus {
  outline: none;
}

.TabRegisterEmplo .TabRegisterEmplo .password_handl {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}
