.DBEmployees {
  width: 100%;
}

.DBEmployees h1 {
  color: #767777;
  cursor: default;
  margin: 10px 0px 20px 20px;
  font-size: 45px;
}

.DBEmployees .EmployeeSearch {
  text-align: center;
  position: fixed;
  left: 50px;
  right: 50px;
  bottom: 12%;
}

.EmployeeSearch label {
  font-size: 25px;
  color: #7d7e7e;
  font-weight: 700;
}

.EmployeeSearch input {
  background: transparent;
  border: none;
  border-bottom: 3px solid #76b7dd;
  width: 600px;
  margin-top: 10px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  outline: none;
}

.DBEmployees .wrap_table {
  width: auto;
  margin-top: 0;
  padding-top: 0;
  height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
  margin-top: 25px;
}
.DBEmployees .Table_EmployeesDB {
  width: 100%;
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em 1em 0 0;
  font-family: Bradley Hand, cursive;
  table-layout: fixed;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.DBEmployees .Table_EmployeesDB thead {
  border-radius: 6px 6px 6px 6px;
}

.DBEmployees .Table_EmployeesDB thead tr {
  background: #76b7dd;
  color: white;
  text-align: left;
  font-weight: bold;
}

.DBEmployees .Table_EmployeesDB th,
.DBEmployees .Table_EmployeesDB td {
  padding: 12px 15px;
  text-align: left;
}

.DBEmployees .Table_EmployeesDB tbody tr {
  border-bottom: 1px solid #76b7dd;
  cursor: pointer;
}

.DBEmployees .Table_EmployeesDB tbody tr.active_row {
  color: #76b7dd;
}
.DBEmployees .Table_EmployeesDB tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.DBEmployees ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.DBEmployees ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.DBEmployees ::-webkit-scrollbar-thumb {
  background: #76b7dd;
}

/* Handle on hover */
.DBEmployees ::-webkit-scrollbar-thumb:hover {
  background: #5789a7;
}
