.AdminPage_container {
  padding: 0;
  margin: 0;
}
.AdminPage_container nav {
  margin: 0;
  background: #ececec;
  width: 100%;
}
.AdminPage_container ul {
  padding: 0;
  margin: 0;
}
.AdminPage_container ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.AdminPage_container nav {
  padding: 0;
  margin: 0;
  text-align: left;
}

.AdminPage_container [data-tab-content] {
  display: none;
}

.AdminPage_container .active[data-tab-content] {
  display: block;
}

.AdminPage_container .tab {
  margin: 0;
  border-radius: 0px 35px 0px 0px;
  background-color: #76b7dd;
  padding: 10px 30px;
  border: 0;
  color: #fff;
  font-size: 22px;
  text-align: center;
  outline: none;
}

.AdminPage_container .tab {
  cursor: pointer;
}
.AdminPage_container .tab:hover {
  cursor: pointer;
  background: #9ac4db;
}
.AdminPage_container .tab.active {
  background: #f8f8f8;
  color: #76b7dd;
}

.AdminPage_container footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  font-family: Asap, sans-serif;
  width: 100%;
  background-color: #76b7dd;
  color: white;
  text-align: center;
}
